<!DOCTYPE html>
<html lang="en"
      ​xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head">
    <meta ​charset="utf-8" />
    <meta ​name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring login application - Politechnika Lubelska</title>
    <style>
    .fiiter{
    position​: fixed;
    bottom​: 0px;
    left​: 1px;
    height​: 50px;
    width​: 100%;
    }
    .nav > li​{
    display​: inline;
    background​: limegreen;
    }
    a​{ text-decoration​: none; }
    th​,td​{border​: solid 1px black;padding​: 5px;}
    </style>
</head>
<body>
    <div th:fragment="navigationPanel" >
        <ul ​class="nav">
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Log in</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Sign in</a></li>
            <!-- <div th:if="${isAdmin.equals(true)}"></div> -->
            <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">My profile</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/users}">Show users</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/products}">Show products</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>
        </ul>
    </div>
    <div th:fragment="footer">
        <footer ​class="footer">
        <hr/>
        <p>Politechnika Lubelska _____ PAI _____ Spring Project _____ Made by Honcharenko</p>
        </footer>
    </div>
</body>

</html>