<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: head">
</head>
<body>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <div th:include="layout :: navigationPanel"></div>
    <h1>List of products:</h1>
    <div th:if="${#lists.isEmpty(productlist)}">
        There are any products in DB...
    </div>
    <table th:if="${!#lists.isEmpty(productlist)}">
        <thead>
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
                <div th:if="${isAdmin}">
                    <th>Options</th>
                </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productlist}">
            <td th:text="${product.productid}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td ><a th:href="@{'/buyProduct/' + ${product.productid}}">Buy</a></td>
                <div th:if="${isAdmin}"></td>
                    <td ><a th:href="@{'/deleteProduct/' + ${product.productid}}">Delete / </a>
                        <a th:href="@{'/editProduct/' + ${product.productid}}">Edit</a></td>
                </div>
        </tr>
        <div th:if="${isAdmin}"></td>
            <a th:href="@{'/addProduct'}">Add new product</a>
        </div>
        </tbody>
    </table>
    <div th:include="layout :: footer"></div>
</body>

</html>