<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: head">
</head>
<body>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <div th:include="layout :: navigationPanel"></div>
    <h1 th:text="'Hello ' +${user.name} + ' ' + ${user.surname}"></h1>
    <table th:if="${!#lists.isEmpty(boughtProducts)}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${boughtProducts}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>

    <div th:include="layout :: footer"></div>
</body>

</html>