<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: head">
</head>
<body>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <div th:include="layout :: navigationPanel"></div>
    <h1>List of users:</h1>
    <div th:if="${#lists.isEmpty(userlist)}">
        There are any users in DB...
    </div>
    <table th:if="${!#lists.isEmpty(userlist)}">
        <thead>
            <tr>
                <th>UserID</th>
                <th>Name</th>
                <th>Surname</th>
                    <div th:if="${isAdmin}">
                        <th>Login</th>
                        <th>Encrypted password</th>
                        <th>Admin rights</th>
                        <th>Options</th>
                    </div>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${userlist}">
            <td th:text="${user.userid}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
                <div th:if="${isAdmin}">
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.password}"></td>
                    <td ><a th:href="@{'/doAdmin/' + ${user.userid}}">
                        <div th:text="${user.admin}"></div>
                        </a></td>
                    <td ><a th:href="@{'/deleteUser/' + ${user.userid}}">Delete this one</a></td>
                </div>
            </tr>
        </tbody>
    </table>
    <div th:include="layout :: footer"></div>
</body>

</html>